COMPOSE_PROJECT_NAME=ylab_hw02_tests

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_HOST_TEST=db
POSTGRES_PORT_TEST=5432
POSTGRES_DB_TEST=postgres_test
POSTGRES_USER_TEST=postgres
POSTGRES_PASSWORD_TEST=postgres